@CHARSET "UTF-8";
body {font-family:"휴먼모음T";}
div, section, header, aside, footer {padding:10px;}

/********** 전체컨테이너 **********/
div#container	{}

/********** content **********/
section#content		{min-height:600px;}
