<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="review">
  
	<!-- 리뷰 조회 + 검색 --> 
  	<select id="reviewList" parameterType="map" resultType="review">
		SELECT A.*
		FROM (
				SELECT DISTINCT R.*
					 , CONCAT(M.LAST_NAME, M.FIRST_NAME) AS WRITER
					 , P.PRODUCT_NAME AS PRODUCTNAME
					 , C.REVIEW_CATEGORY_NAME AS REVIEWCATEGORYNAME
				  FROM TB_REVIEW R
				  JOIN TB_ORDER O ON R.ORDER_NO = O.ORDER_NO
				  JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
				  JOIN PRODUCT P ON R.PRODUCT_NO = P.PRODUCT_NO
				  JOIN REVIEW_CATEGORY C ON R.REVIEW_CATEGORY_NO = C.REVIEW_CATEGORY_NO
				 ORDER BY R.REVIEW_NO ASC) A
		<where>
			<if test="keyword != '' and keyword != null">
				${field} LIKE '%' || #{keyword} || '%'
			</if>
		</where>
	</select> 
  	 
  	<!-- 리뷰 모달 정보 불러오기 -->
  	<!-- 작성자, 한 줄 후기, 구매 후기 -->
  	<select id="reviewModal" parameterType="int" resultType="review">
  		SELECT R.*
  			 , CONCAT(M.LAST_NAME, M.FIRST_NAME) AS WRITER
  		  FROM TB_REVIEW R
  		  JOIN MEMBER M ON R.MEMBER_NO = M.MEMBER_NO
  		 WHERE REVIEW_NO = #{reviewNo}
  	</select>
  	
  	<!-- 이미지 -->
  	<select id="reviewImgModal" parameterType="int" resultType="reviewImg">
  		SELECT DISTINCT I.*
  		  FROM REVIEW_IMG I
  		  JOIN TB_REVIEW R ON I.REVIEW_NO = R.REVIEW_NO
  		 WHERE I.REVIEW_NO = #{reviewNo}
  	</select>
  	
  	<!-- 리뷰 삭제 : 포토후기일 경우 사진 파일 먼저 지우기 
  	<delete id="deleteImg" parameterType="int">
  		DELETE FROM REVIEW_IMG
  		 WHERE REVIEW_NO = #{reviewNo} 
  	</delete>
  	<delete id="deleteReview" parameterType="int">
  		DELETE FROM TB_REVIEW 
  	 	 WHERE REVIEW_NO = #{reviewNo} 
  	</delete>
  	-->
  	
</mapper>