<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="product">
  <select id="selectAllProductList" resultType="productDetail">
  	SELECT a.*, b.IMG_URL, c.CATEGORY_NAME 
	FROM product a
		JOIN product_img b ON(a.product_no = b.PRODUCT_NO)
		left JOIN category c ON(a.CATEGORY_NO = c.CATEGORY_NO)
	WHERE b.IMG_LEVEL = 1
  </select>
  
  <select id="selectProductExcelForm" resultType="productExcelForm">
  	SELECT * FROM v_product_excel_form
  </select>
  
  <select id="selectOneProductByProductNo" resultType="product">
  	select * from product where product_no = #{productNo}
  </select>
  
  <select id="selectProductImgsByProductNo" resultType="productImg">
  	select * from product_img where product_no = #{productNo}
  </select>
  
  <select id="selectProductOptionDetailByOptionNo" resultType="productOptionDetail">
  	SELECT * 
	FROM product_option a 
		JOIN option_value b ON(a.OPTION_NO = b.OPTION_NO)
	WHERE a.option_no = #{optionNo}
  </select>
  
  <select id="selectProductDiscriptionByProductNo" resultType="productDiscription">
  	SELECT * from product_discription WHERE product_no = #{productNo}
  </select>
  
  <delete id="deleteProductByProductNo">
  	delete from product where product_no = #{productNo}
  </delete>
</mapper>