<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="statistics">
  <select id="selectPeriodStatistics" resultType="periodStatisticVo">
  	SELECT *
	FROM v_period_statistics_paid
		left JOIN v_period_statistics_cancel USING(paid_at)
	WHERE DATE(paid_at) = DATE(#{date})
  </select>

  <select id="selectProductStatistics" parameterType="hashmap" resultType="productStatisticVo">
	SELECT *,
	(SELECT count(amount)
	 FROM v_product_statistics
	 WHERE order_status_no >= 2) paymentCount,
	 (SELECT COUNT(amount)
	 FROM v_product_statistics
	 WHERE order_status_no = 7) returnCount,
	 (SELECT SUM(amount)
	 FROM v_product_statistics
	 WHERE order_status_no >= 2) paymentSum,
	 (ROW_NUMBER() over(ORDER BY (SELECT
		 						   COUNT(amount)
		 						   FROM v_product_statistics
		 						   WHERE order_status_no >= 2
		 						   AND   order_status_no != 7) DESC)) AS productRank
	 FROM v_product_statistics
	 <if test="search.start_date != null and search.end_date != '' ">
	 	WHERE reg_date between #{search.start_date} and #{search.end_date}
	 </if>
	 <if test="search.categoryCode != null and search.categoryCode != '' ">
	 	AND category_no = #{search.categoryCode}
	 </if>
	 ORDER BY productRank ASC
  </select>
  
  <select id="selectAddressStatistics" resultType="addressStatisticVo">
  	SELECT *
  	FROM v_address_statistics
  	<if test="addressVo.addressCategory == 1">
  		WHERE DATE(paid_at) = DATE(#{date})
  	</if>
  	<if test="addressVo.addressCategory == 2">
  		WHERE MONTH(paid_at) = MONTH(#{date})
  	</if>
  	<if test="addressVo.addressCategory == 3">
  		WHERE YEAR(paid_at) = YEAR(#{date})
  	</if>
  </select>
  
  <select id="selectAreaPayment" resultType="areaVo">
		SELECT DISTINCT
		b.AREA_NO,
		b.AREA_NAME,
		(SELECT
		 SUM(a.amount)
		 FROM payment_info a
		 WHERE SUBSTRING(a.buyer_addr, 1, 3) = b.AREA_NAME
		 AND   a.`status` != 'ready') AS AREA_PAYMENT
		FROM  area b LEFT OUTER JOIN payment_info a ON(SUBSTRING(a.buyer_addr, 1, 3) = b.AREA_NAME)
  	<if test="addressVo.addressCategory == 1">
  		WHERE DATE(a.paid_at) BETWEEN DATE(#{search.start_date}) AND DATE(#{search.end_date})
  	</if>
  	<if test="addressVo.addressCategory == 2">
  		WHERE MONTH(a.paid_at) BETWEEN MONTH(#{search.start_date}) AND MONTH(#{search.end_date})
  	</if>
  	<if test="addressVo.addressCategory == 3">
  		WHERE YEAR(a.paid_at) BETWEEN YEAR(#{search.start_date}) AND YEAR(#{search.end_date})
  	</if>
  </select>
  
  <select id="selectArea" resultType="areaVo">
  	SELECT *
  	FROM area
  </select>
  
</mapper>