<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="setting">

	<select id="selectDeliveryCompanyList" resultType="deliveryCompany">
		select * from delivery_company
	</select>
	
	<select id="selectOneDeliverySetting" resultType="deliverySetting">
		select * from delivery_setting
	</select>
	
	<select id="selectDoseosanganList" resultType="doseosangan">
		select * from doseosangan
	</select>
	
	<select id="selectMapList" resultType="maps">
		SELECT a.*, b.map_api_name
		FROM map a, map_api b
		WHERE a.map_api_no = b.map_api_no
	</select>
	
	<select id="selectHistoryList" resultType="history">
		select * from history
	</select>
  
</mapper>