<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="point">

  <select id="selectMemberPointExcelForm" resultType="memberPointExcelForm">
  	SELECT b.id, CONCAT(b.LAST_NAME, b.FIRST_NAME) AS member_name, b.EMAIL, a.point_title, a.point_amount, a.reg_date
	FROM member_point a 
		JOIN member b ON(a.MEMBER_NO = b.MEMBER_NO)
	<where>
		<if test="_parameter != null and _parameter != ''">
			b.id = #{memberId}
		</if>
	</where>	
	ORDER BY a.reg_date desc
  
  </select>
  
  <select id="selectPointName" resultType="string">
   select point_name from point
  </select>
  
  <insert id="insertMemberPoint">
  	insert into member_point values(nextval(seq_member_point_no), #{memberNo}, #{pointTitle}, #{pointAmount}, sysdate())
  </insert>
  
  <update id="updatePoint">
  	update point set point_use_type = #{pointUseType}, point_name = #{pointName} where point_no = 1
  </update>
  
  <update id="updatePointSave">
  	update point_save set point_member_amount = #{pointMemberAmount}, point_memo_amount = #{pointMemoAmount}, point_type = #{pointType}, point_rate = #{pointRate}, point_use_receive = #{pointUseReceive}
  		where point_save_no = 1
  </update>
  
  <update id="updatePointUse">
  	update point_use set point_unit = #{pointUnit}, point_limit_use_point = #{pointLimitUsePoint}, point_limit_use_amount = #{pointLimitUseAmount}, point_limit_use_day = #{pointLimitUseDay}
  		where point_use_no = 1
  </update>
</mapper>