<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="productStatistics">
  <select id="selectPeriodStatistics" resultType="periodStatisticVo">
  	SELECT *, 
  	SUM(amount) AS total_amount, 
  	SUM(cancel_amount) AS total_cancel_amount 
  	FROM v_period_statistics  
  	WHERE date(paid_at) = date(#{date}) 
  	GROUP BY paid_at
  </select>
  
  <select id="selectProductStatistics" resultType="productStatisticVo">
	SELECT *,
	(SELECT count(amount)
	 FROM v_product_statistics
	 WHERE order_status_no >= 2) paymentCount,
	 (SELECT COUNT(amount)
	 FROM v_product_statistics
	 WHERE order_status_no = 7) returnCount,
	 (SELECT SUM(amount)
	 FROM v_product_statistics
	 WHERE order_status_no >= 2) paymentSum,
	 (ROW_NUMBER() over(ORDER BY (SELECT
		 						   COUNT(amount)
		 						   FROM v_product_statistics
		 						   WHERE order_status_no >= 2
		 						   AND   order_status_no != 7) DESC)) AS 'productRank'
	 FROM v_product_statistics
  </select>
  
</mapper>


