<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email">

	<update id="autoSend" parameterType="hashmap">
		update email_setting
		   set is_send = #{send}
			 , is_send_admin = #{sendAdmin}
		 where template_id = #{templateId}
	</update>

	<select id="selectEmailSetting" resultType="emailSetting">
		select *
		  from email_setting
	</select>	
	
	<select id="emailCheck" resultType="emailSetting">
		select *
		  from email_setting
		 where template_id = #{templateId}
	</select>
	
	<insert id="insertEmail" parameterType="hashmap">
		insert into tb_email (
							email_code,
							receive_code,
							send_email,
							request_id,
							receive_email,
							receive_title,
							receive_content,
							email_point,
							receive_date)
		values(
				NEXTVAL(seq_email_code),
				default,
				#{send},
				#{requestId},
				#{email},
				#{title},
				#{content},
				default,
				#{date})
	</insert>	
	
	<select id="selectEmailList" parameterType="hashmap" resultType="email">
		select email_code,
			   receive_code,
			   request_id,
			   receive_email,
			   receive_title,
			   receive_content,
			   email_point,
			   date_format(receive_date, '%Y-%m-%d %T') as reDate
		  from tb_email
		 <where>
			<if test="keyword != '' and keyword != null">
				<choose>
					<when test="field eq 'total'">
						receive_title LIKE CONCAT('%', #{keyword}, '%') || 
						receive_content LIKE CONCAT('%', #{keyword}, '%') || 
						receive_email LIKE CONCAT('%', #{keyword}, '%')
					</when>
					<otherwise>
						${field} LIKE CONCAT('%', #{keyword}, '%')
					</otherwise>
				</choose>
			</if>
		</where>
	</select>	
  
</mapper>