<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="email">

	<update id="autoSend" parameterType="hashmap">
		update email_setting
		   set is_send = #{send}
			 , is_send_admin = #{sendAdmin}
		 where template_id = #{templateId}
	</update>
	
	<select id="emailCheck" resultType="emailSetting">
		select *
		  from email_setting
		 where template_id = #{templateId}
	</select>
  
</mapper>